
<div class="page-content">
  <section class="row">
    <div class="col-12 col-lg-9">
      
      <!-- Stats Section - Load based on role -->
      <% if (roleLevel === 1 || roleLevel === 2) { %>
        <%- include('./partials/admin-stats') %>
      <% } else if (roleLevel === 3) { %>
        <%- include('./partials/sekretaris-stats') %>
      <% } else if (roleLevel === 4) { %>
        <%- include('./partials/bendahara-stats') %>
      <% } else if (roleLevel === 5) { %>
        <%- include('./partials/ketua-bidang-stats') %>
      <% } else if (roleLevel === 6) { %>
        <%- include('./partials/anggota-stats') %>
      <% } %>

      <!-- Recent Activities - Universal -->
      <% if (typeof recentProker !== 'undefined') { %>
        <%- include('./partials/recent-activities') %>
      <% } %>

      <!-- Anggota List - Conditional -->
      <% if (typeof anggotaList !== 'undefined' && anggotaList && anggotaList.length > 0) { %>
        <%- include('./partials/anggota-list') %>
      <% } %>
      
    </div>

    <!-- Sidebar -->
    <div class="col-12 col-lg-3">
      <%- include('./partials/sidebar') %>
    </div>
  </section>
</div>