<div class="row">
  <div class="col-6 col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body px-3 py-4-5">
        <div class="row">
          <div class="col-md-4">
            <div class="stats-icon purple">
              <i class="iconly-boldProfile"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h6 class="text-muted font-semibold">Total Anggota</h6>
            <h6 class="font-extrabold mb-0"><%= stats.totalAnggota %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body px-3 py-4-5">
        <div class="row">
          <div class="col-md-4">
            <div class="stats-icon blue">
              <i class="iconly-boldUser"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h6 class="text-muted font-semibold">Anggota Aktif</h6>
            <h6 class="font-extrabold mb-0"><%= stats.anggotaAktif %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body px-3 py-4-5">
        <div class="row">
          <div class="col-md-4">
            <div class="stats-icon red">
              <i class="iconly-boldDocument"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h6 class="text-muted font-semibold">Total Proker</h6>
            <h6 class="font-extrabold mb-0"><%= stats.totalProker %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body px-3 py-4-5">
        <div class="row">
          <div class="col-md-4">
            <div class="stats-icon bg-light-secondary">
              <i class="iconly-boldEdit"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h6 class="text-muted font-semibold">Draft</h6>
            <h6 class="font-extrabold mb-0"><%= stats.prokerDraft %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body px-3 py-4-5">
        <div class="row">
          <div class="col-md-4">
            <div class="stats-icon bg-light-warning">
              <i class="iconly-boldTime-Circle"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h6 class="text-muted font-semibold">Diajukan</h6>
            <h6 class="font-extrabold mb-0"><%= stats.prokerDiajukan %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6 col-lg-4 col-md-6">
    <div class="card">
      <div class="card-body px-3 py-4-5">
        <div class="row">
          <div class="col-md-4">
            <div class="stats-icon bg-light-success">
              <i class="iconly-boldTick-Square"></i>
            </div>
          </div>
          <div class="col-md-8">
            <h6 class="text-muted font-semibold">Disetujui</h6>
            <h6 class="font-extrabold mb-0"><%= stats.prokerDisetujui %></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>